.ProductItem {
	width: 310px;
	height: 422px; 
	border-radius: 20px;
	object-fit: cover;
	overflow: hidden;
	background-color: #000000a6;
}

.container-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	column-gap: 1rem;
	height: 100%;
	position: relative;
	background-color: #000000;
	opacity: 49%;
}

.text-item {
	color: #FFFFFF;
	font-size: 45px;
	font-weight: bold;
}

#event1 {
	background-image: url(/src/assets/imgs/event1.jpg);
	background-color: rgb(1 1 16);
}

#event2 {
	background-image: url(../assets/imgs/event2.jpg);
	background-color: rgb(1 1 16);
}

#event3 {
	background-image: url(../assets/imgs/event3.jpg);
	background-color: rgb(1 1 16);
}

#event4 {
	background-image: url(../assets/imgs/event4.jpg);
	background-color: rgb(1 1 16);
}

@media (min-width: 1536px) {
	.ProductItem {
		width: 398px;
		height: 468px;
	}
}