.container-item-grid {
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container-item-grid img {
  width: 89%;
  height: 88%;
  object-fit: cover;
}