.nav {
	display: flex;
	gap: 16px;
	justify-content: space-around;
	align-items: center;
	padding: 0 38px;
	background-color: #002d63;
	color: #FAFAFA;
	height: 120px;
	opacity: 86%;
	position: sticky;
	top: 0;
}

.container-logo {
	display: flex;
	align-items: center;
}

.navbar-items {
	display: flex;
}

.navbar-items ul {
	list-style: none;
	font-weight: bold;
	font-size: 18px;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}

.navbar-items ul {
	display: flex;
	gap: 6px;
}

.navbar-items ul li a {
	text-decoration: none;
	border: 1px solid #002d63;
	color: #FAFAFA;
	padding: 8px;
	border-radius: 8px;
}

.navbar-items ul li a:hover {
	border: 1px solid #1a67c1;
}

.container-btns {
	display: flex;
	gap: 28px;
	padding: 4px;
}

.btn-secundary {
	background-color: #5AD3DF;
	color: #003473;
	padding: 0 16px;
	border-radius: 30px;
	font-weight: bold;
	font-size: 16px;
	border-style: none;
}

.btns-social-media {
	display: flex;
	gap: 14px;
}

.btns-social-media button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FF7E54;
	padding: 12px;
	border-radius: 50%;
	border-style: none;
}


@media (min-width: 1280px) {
	.navbar-items ul {
		gap: 0px;
	}
}

@media (min-width: 1536px) {
	.navbar-items ul {
		gap: 38px;
	}
}